html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #1d2124;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #1b1e21;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.title {
    font-size: 3.5rem;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

footer {
    background: #1d2124;
    color: silver;
    font-size: small;
    font-family: Arial;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5vh;
}

emphasis {
    color: #b21f2d;
    font-weight: bold;
}

canvas{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:link {
    color: #b21f2d;
}

a:visited {
    color: #b21f2d;
}

.part-x {
    display: flex;

    color: #5a6268;
    font-size: xx-large;
    
    padding: 0;
    margin: 10px 0px 10px 0px;
    height: 100vh;

    text-align: center;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

@media (max-width: 530px) {
    .description {
        font-size: 1rem;
    }
}

.slide {
    background-color: #e9ecef;
    border-radius: .3rem;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.slide-graphic {
    height: 55vh
}

.slide-info {
    padding-top: 10px;
    height: 25vh;
}

.scroll-down {
    font-size: medium;
    font-weight: bold;
}

.source {
    font-size: small;
    font-family: Arial;
    opacity: 0.6;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem }
}

#container1, #container2 { 
    height: 100%;
    width: auto;
    position: relative; 
    text-align: left;
}

#lang {
    color: red;
}

#lang:hover {
    cursor: pointer; 
}

#part-2 .slide-title {
    height: 15vh;
}

#part-3 .slide-graphic {
    height: 50vh;
}

#part-4 .slide-title {
    height: 25vh;
}

#part-4 .slide-graphic {
    height: 60vh
}

#part-4 .slide-info {
    height: 10vh;
}

#part-5 .slide-title .ukr {
    height: 15vh;
}

#part-5 .slide-title .en {
    height: 10vh;
}

#part-6 .slide-title {
    height: 15vh;
}

#part-6 .slide-graphic {
    height: 35vh;
}

#part-last {
    background: #999999;
    margin: 0;

    align-items: center;
    justify-content: center;
    text-align: center;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#_progress {
    --scroll: 0%;
    background: linear-gradient(to right,rgb(178, 31, 45) var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top:0px;
    z-index: 100;
}

@media (max-width: 700px) {
    .title {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1rem;
        }
}

@media (pointer: coarse) and (hover: none) {
    header video {
        display: none;
    }
}

@media (max-width: 700px) {
    .part-x {
        height: auto !important;
    }
    .slide-title {
        height: auto !important;
    }
    .slide-info {
        height: auto !important;
    }
    .slide-graphic {
        height: auto !important;
    }
    .slide {
        font-size: 12px;
    }
    canvas {
        width: 100%;
    }
}

@media (max-width: 700px) {
    header {
        font-size: smaller;
    }

    h3 {
        font-size: 1.25rem;
    }
}

@media (max-width: 320px) {
    header {
        font-size: smaller;
    }
}

